@charset "utf-8";
/* CSS Document */

#container {
	height: 760px;
	width: 100%;
	display:flex;
	justify-content: center;
	background-color: #DDDDDD;
	color: #050505;
}

#calendar {
	height: 760px;
	width: 770px;
	background-color:#FFFFFF;
	box-shadow:0 0.50px 30px #000000; 
}

#header {
	height: 105px;
	width: 750px;
	display:flex;
	justify-content: space-between;
	align-item: center;
	text-align: center;
	padding: 0 10px;
	background-color: #3230FF;
	color: #eee;
	box-shadow:0 0.50px 2px #000000;
}

#date h1 {
	font-size: 35px;
	text-transform: uppercase;
	letter-spacing: 0.20px;
	margin-bottom: 5px;
}

#date p {
	font-size: 25px;
	margin-top: 0px;
}

#header button {
	background-color: #2E0EFF;
}

#weekdays {
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 0.40px;
}

#weekdays div {
	width: 100px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0 0.30px 0.50px #0000000;
	padding: 10px;
}

#days {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}


.day {
	height: 90px;
	width: 100px;
	padding: 10px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	box-sizing: border-box;
	background-color: #EBEBEB;
	font-size: 15px;
	font-weight: normal;
	box-shadow:0 0.50px 2px #000000; 
}
.day:hover {
  background-color: #a6c5de;
}

.day + #currentDay {
  background-color:#a6c5de;
}

#newEventModal{
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}

#rescheduleEventModal{
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}

.event {
  font-size: 15px;
  padding: 2px;
  color: #3b80f7;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
	font-weight: bold;
}
#rescheduleEventText{
	font-size: 20px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #0f90fa;
}


.extra {
    cursor: default;
    background-color: #FFFFFF;
    box-shadow: none;
	color: #787878;
}
