@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
/* CSS Document */

#container {
	height: 760px;
	width: 100%;
	display:flex;
	justify-content: center;
	background-color: #DDDDDD;
	color: #050505;
}

#Rbutton{
	
	margin-top: 20px;
	padding: 10px 5px;
	background-color: #FFFD00;
}

#calendar {
	height: 760px;
	width: 770px;
	background-color:#FFFFFF;
	box-shadow:0 0.50px 30px #000000; 
}

#header {
	height: 105px;
	width: 750px;
	display:flex;
	justify-content: space-between;
	align-item: center;
	text-align: center;
	padding: 0 10px;
	background-color: #3230FF;
	color: #eee;
	box-shadow:0 0.50px 2px #000000;
}

#date h1 {
	font-size: 35px;
	text-transform: uppercase;
	letter-spacing: 0.20px;
	margin-bottom: 5px;
}

#date p {
	font-size: 25px;
	margin-top: 0px;
}

#header button {
	background-color: #2E0EFF;
}



#weekdays {
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 0.40px;
}

#weekdays div {
	width: 100px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 0 0.30px 0.50px #0000000;
	padding: 10px;
}

#days {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}


.day {
	height: 90px;
	width: 100px;
	padding: 10px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	box-sizing: border-box;
	background-color: #EBEBEB;
	font-size: 15px;
	font-weight: normal;
	box-shadow:0 0.50px 2px #000000; 
}
.day:hover {
  background-color: #a5d4a7;
}

.day + #currentDay {
  background-color:#a6c5de;
}
#newEventModal{
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}


#RModal{
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}


#RText{
	font-size: 20px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #0f90fa;
}

#rescheduleEventModal{
  display: none;
  z-index: 20;
  padding: 25px;
  background-color: #e8f4fa;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 100px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: sans-serif;
}



#rescheduleEventText{
	font-size: 20px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #0f90fa;
}


.event {
  font-size: 15px;
  padding: 2px;
  color: #3b80f7;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
	font-weight: bold;
}
#rescheduleEventText{
	font-size: 20px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: #0f90fa;
}

.Revent {
  font-size: 15px;
  padding: 2px;
  color: #AB0540;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
	font-weight: bold;
}


#eventsToday {
  width: 600px;
  height: 300px;
  position: relative;
  margin: 20px auto;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  box-shadow: 0px 0px 5px 0px #888;
	margin-left: 50px;
}

/* styling red vertical line */
#eventsToday::before {
  content: '';
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 40px;
  background-color: rgba(255,0,0,0.6);
}

/* styling blue horizontal lines */
#pattern {
  height: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px);
}

/* styling text content */
#content {
  padding-top: 0px;
  padding-left: 56px;
  padding-right: 16px;
  line-height: 30px;
  font-family: 'monospace', DejaVu Sans Mono, monospace;
  font-size: 19px;
  letter-spacing: 1px;
  word-spacing: 5px;
}

#eventstoday {
   display: flex;
  justify-content: center;
}

#paragraphTitle{
	text-align: center;
	font-family: 'monospace', DejaVu Sans Mono, monospace;
	font-weight: 600;
	font-size: 20px
}

#showevents{
	margin-left: 110px;
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#Rbutton{
	background: white;
}


#Notibuttion{
	margin-left: 700px;
	background-color: #2E0EFF; /* Green */
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#remiderbutton{
	margin-left: 695px;
	background-color: #2E0EFF; /* Green */
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.extra {
    cursor: default;
    background-color: #FFFFFF;
    box-shadow: none;
	color: #787878;
}

